
body {
    margin: 0;
    padding: 10%;
    font-family: 'work sana', Helvetica, sana-serif ;
    color: #03534b;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: rosybrown;
}
  .header-background {
    background: linear-gradient(rgba(255,254,253,07), white);
    background-size: contain;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;            
  
  }
  nav {
    width: 140%;
    position: absolute;
    top: 0;
    left: 10;
    background: rosybrown;
    padding: 10px 0;
  }
  nav ul li{
    display: inline;
    margin: 0 10px;
  }
  nav ul li a{
    color:rgb(19, 19, 20);
    text-decoration: navajowhite;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.4rem;
  }
  a:hover{
    background-color: rgb(31, 228, 228);
    font-size:150% ;
    box-shadow: inset 100px 0 0 0 #079ec0;
    color: white;
  }
  .body h1 {
font-size: 50px;
color: #333;
margin-bottom: 10px;
text-align: center;
}
.body p {
  font-size: 30;
  color: #060606;
  margin-bottom: 0;
  text-align: center;
}
.button a {
  display: flow-root;
  margin: auto;
  width: 50%;
  padding: 1%;
  align-items: center;
  justify-content: space-between;
  color: #4c0ec7;
  font-size: 20px;
}
  #about {
    background-color: #ffffff;
    padding-left: 40px;
    padding-right: 40px;
    margin: 40px;
    border-radius: 0.5%;
    text-align: center;
  }
  img {
    border-radius: 100%;
    border: 1px solid #941313;
    padding: 5px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   }
 p {
  text-align: center;
  color: #060606;
}
   .tb-btn {
    padding: 12px 36px;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
    background-color: ofbfbf;
   }
   footer {
    background-color: rosybrown;
    text-align: center;
    padding: 1px;
   }
   h3 {
    color: #2c075d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
   }
   h4 {
    color: #101011;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline;
   }
   a{
    color: #29a598;
    transition: color 0.2s ease-in-out;
   }
   a:hover {
    color: whitesmoke;
   }
   @media (max-width:768px) {
    nav ul li { 
        display: block;
        margin: 10px 0;
    }
    .profile-photo {
        width :50%;       
         margin:0 auto;
    }
   }

   